.main-navbar {
    background-color: var(--main-color);
    max-height: 200px;
}

.main-navbar .navbar-toggler {
    background: #fff;
    border: none;
}

.main-navbar .nav-link {
    background-color:  darkolivegreen;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
    box-shadow: 2px 2px 2px (rgba42 , 69, 136, 0.3);
}

@media (min-width: 768px) {
    .main-navbar .nav-link {
        margin: 0 5px;
    }
}

.footer {
    background-color: var(--main-color);
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

:root {
	--main-color: #e2725b;
}


#root > main {
    flex: 1;
}

.banner-home h1{
    color: var(--main-color)
}

.banner-home p {
    font-size: 1.125rem;
}

.banner-home > div {
    flex: 1;
}

.btn-green {
    background-color: darkolivegreen;
}

.btn-primary {
    color: #fff;
    background-color: darkolivegreen;
    border-color: darkgreen; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: darkolivegreen;
    border-color: darkgreen;
}





