.main-navbar {
    background-color: '#C45824';
    max-height: 200px;
}

.main-navbar .navbar-toggler {
    background: #fff;
    border: none;
}

.main-navbar .nav-link {
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
    box-shadow: 2px 2px 2px (rgba42 , 69, 136, 0.3);
}

@media (min-width: 768px) {
    .main-navbar .nav-link {
        margin: 0 5px;
    }
}



